groq
pypdf
python-dotenv
streamlit
fastembed
numpy
faiss-cpu
llama-index-core
llama-index-llms-groq
llama-index-embeddings-fastembed
llama-index-readers-file
llama-index-vector-stores-faiss
docling
llama-index-readers-docling
rank-bm25
llama-index-retrievers-bm25
llama-index-node-parser-docling
pandas
pydantic
lxml
html5lib
opencv-python-headless
python-magic